*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
.header{
    position: relative;
    background: url("../images/back.jpg") center center / cover no-repeat scroll;
    min-height: 900px;
    height: 100vh;
}
.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.1);
    z-index: 2;
}
.header_wrap{
    position: relative;
}
.head{
    top:0;
    right: 0;
    position: sticky;
    height: 65px;
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 45px;
    padding-left: 40px;
    margin-top: 10px;
}
.menu li{
    display: inline-block;
    margin-top: 22px;
    margin-right: 40px;
}
.menu a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: .4s;
}
.menu a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #fd7e14;
    transition: width 0.4s ease-in-out;
}
.menu a:hover{
    color: #fd7e14;
    transition: .4s;
}
.menu a:hover:after,
.menu a:focus:after {
    width: 100%;
}
.first_screen {
    margin-top: 200px;
    margin-left: 40px;
}
.site_name{
    font-size: 160px;
    margin-left: -8px;
    color: #fd7e14;
}
.site_concept{
    margin-top: -20px;
    font-size: 38px;
    color: white;
}
.line {
    width: 200px;
    height: 8px;
    background: #fd7e14;
    border: 0px;
    border-radius: 4px;
    margin-top: 20px;
}
.description{
    line-height: 1.6;
    margin-top: 20px;
    width: 600px;
    font-size: 16px;
    color: white;
}
.next{
    display: block;
    margin-top: 100px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    background: #004fb1;
    border-radius: 50px;
    width: 320px;
    text-align: center;
    transition: .4s;
}
.next:hover{
    background: #fd7e14;
    transition: .4s;
}
.services {
    padding-top: 80px;
    padding-bottom: 120px;
}
.services_wrap{
    margin-left: 40px;
    margin-right: 40px;
}
.services_name{
    text-align: center;
    font-weight: 500;
    font-size: 44px;
}
.services_desc{
    margin: 10px auto;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.min_line{
    margin: 15px auto;
    width: 80px;
    height: 8px;
    background: #fd7e14;
    border: 0px;
    border-radius: 4px;
}
.provide{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.provide_item{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 30px 25px;
    border-radius: 10px;
    margin-top: 25px;
    width: 370px;
    transition: .4s;
    margin-right: 15px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
}
.provide_item:hover{
    background: #004fb1;
    color: white;
    transition: .4s;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
}
.provide_item>i{
    display: flex;
    color: #fd7e14;
    justify-content: center;
    font-size: 120px;
}
.provide_item>.min_line{
    margin: 10px auto 15px;
}
.provide_name{
    text-align: center;
    text-transform: uppercase;
    margin-top:15px;
    font-size: 20px;
    font-weight: 500;
}
.provide_desc{
    font-size: 15px;
    margin-bottom: 20px;
    flex: 1 0 auto;
}
.provide_item>a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(90deg, rgb(227, 86, 25), rgb(255, 142, 43));
    padding: 20px 30px;
    flex: 0 0 auto;
}
.provide_item>a:hover{
    background: linear-gradient(90deg, rgb(255, 142, 43), rgb(227, 86, 25));
}
.provide_item>a>i{
    font-size: 22px;
    margin-left: 90px;
}
.advantage{
    background: url("../images/light.jpg") center center/cover no-repeat;
    padding-top: 80px;
    padding-bottom: 120px;
}
.advantage_wrap{
    padding: 0 20px;
}
.white{
    color: white !important;
}
.blue{
    background: #004fb1;
}
.advantage_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
.adv_item{
    perspective: 1000px;
    display: flex;
    margin-right: 15px;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    background: rgba(0, 79, 177, .7);
    width: 250px;
    height: 250px;
    transition: 2s;
}
.adv_item:hover{
    transition: 2s;
    transform: rotateY(360deg);
    background: rgba(0, 79, 177, 1);
}
.adv_item i{
    font-size: 100px;
    margin-bottom: 10px;
}
.adv_info{
    margin-top: 5px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}
.exclusive{
    background: url("../images/exc_fon.jpg") center center/cover no-repeat;
    padding-top: 80px;
    padding-bottom: 100px;
}
.exc_qwest{
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 44px;
}
.exc_form{
    margin-top: 50px;
    text-align: center;
}
.exc_form input{
    border: 0;
    padding: 10px 15px;
    color: #004fb1;
    font-size: 22px;
    margin-right: 20px;
}
.exc_form input::placeholder{
    color: #004fb1;
}
.send{
    border: 0;
    padding: 10px 15px;
    background: #004fb1;
    font-size: 22px;
    color: white;
    transition: .4s;
}
.send:hover{
    cursor: pointer;
    background: white;
    color: #004fb1;
    transition: .4s;
}
.cases_wrap{
    padding-top: 80px;
    padding-bottom: 120px;
}
.cases_items{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
}
.cases img{
    transition: .4s;
}
.cases img:hover{
    transform: scale(1.1);
    transition: .4s;
}
.cases_item_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cases_item_mini{
    display: flex;
    justify-content: space-between;
}
.cases_item_big{
    margin-top: 24px;
    overflow: hidden;
    height: 458px;
    width: 615px;
    margin-right: 24px;
}
.cases_item_wrap{
    margin-top: 24px;
    height: 458px;
    width: 615px;
    margin-right: 24px;
}
.cases_item_middle{
    overflow: hidden;
    height: 218px;
    width: 615px;
}
.cases_item_lit{
    overflow: hidden;
    height: 218px;
    width: 297px;
}
